@import './normalize.css';

/*
获取更跟元素html
*/
:root{
    --color-text:#666;
    --color-height-size:#ff5777;
    --color-tint:#ff8198;
    --color-background:#fff;
    font-size: 14px;
    line-height: 1.5;
}

*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    user-select: none;/*禁止用户鼠标在页面上选中文字或者图片*/
    -webkit-tap-highlight-color: transparent;
    background: var(--color-background);
    color: var(--color-text);
    width: 100vw;

}
a{
    color: var(--color-text);
    text-decoration: none;
}
.clear-fix::after{
    clear: both;
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.clear-fix{
    zoom: 1px;
}

.left{
    float: left;
}
.right{
    float: right;
}